* {
    font-family: 微软雅黑;
}
li {
    list-style: none;
}
#markdown-toc li {
    list-style: square;
}
a {
    text-decoration: none;
    color: #000000;
}
a:hover {
    border-bottom: 3px solid
}
html, body {
    min-height: 100%;
    margin: 0;
    width: 99%;
    padding: 0;
    height: 100%;
}
body {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
}
.ddv-home-body {
    background-image: url(/assets/a.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: auto;
    height: 100%;
    opacity: 0;
}
.active {
    opacity: 1;
    transition: opacity 10s;
    /*background-color: #ffcc80 transition: 10s;*/
}
.ddv-motto {
    clear: both;
    text-align: right;
    font-size: 0.8em;
    color: gray;
}
.ddv-motto p {}
.ddv-motto p:first-child {
    /*margin-right: 20px;*/
}
.ddv-motto p span {
    white-space: nowrap;
}
.ddv-container {
    max-width: 768px;
    width: 90%;
    margin: auto;
    flex: 1;
}
.ddv-header .ddv-nav li {
    float: left;
    margin-left: 20px;
    margin-bottom: 40px;
    font-size: 1.5em;
}
.ddv-header .ddv-nav li a {
    text-decoration: none;
    color: #000000;
}
.ddv-header .ddv-nav li a:hover {
    border-bottom: solid 3px #6C7B8B;
}
.ddv-footer {
    width: 90%;
    max-width: 768px;
    margin: auto;
    height: 30px;
}
.ddv-footer span {
    white-space: nowrap;
}
.ddv-hr {
    clear: both;
}
.ddv-post-content {
    width: 100%;
    word-wrap: break-word;
    word-break: normal;
    font-size: 1em;
}
.ddv-post-content h2 {
    font-size: 1.3em;
}
.ddv-post-content h3 {
    font-size: 1.2em;
}
.ddv-post-content h4 {
    font-size: 1.1em;
}
.ddv-post-list li {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
}
.ddv-post-list .ddv-post-list-title {
    font-size: 1.2em;
}
.ddv-post-list .ddv-post-list-date {
    font-size: 0.8em;
    align-self: flex-end;
    white-space: nowrap;
}
.ddv-archive {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
}
.ddv-archive-item {
    flex: 1;
}
.code {
    padding: 10px;
    margin: 10px;
    display: block;
    background-color: black;
    color: white;
}
.post {
    width: 100%;
}
.post-header-tag {
    text-align: right;
}
.post-header-date {
    text-align: center;
    color: gray
}
.post-header-title {
    text-align: center;
}